* {
    color: #000606;
}

/***********HEADER-NAV***********/
header {
    height: 100px;
}

.header-nav {
    width: 100%;
    position: fixed;
    background-color: #000606;
}

/***********SECTION***********/
section h1 {
    text-align: center;
    margin: 50px 0 25px;
    font-size: 80px;
    font-weight: bold;
}

section.about {
    display: block;
    width: 80%;
    margin: auto;
}

.section-about-columns {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 80px;
}

.section-about-txt p {
    text-align: center;
}

.section-about-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#prof-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}

.social_media_icons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gh-icon {
    margin-right: 50px;
}
