/***********HEADER***********/
header {
    background: #000606 url(../images/index-woman.png) no-repeat left bottom;
    background-size: contain;
}

/***********HEADER-CONTENT***********/
.header-content-index {
    right: 168px;
    bottom: 150px;
}

.header-content h2 {
    margin-bottom: 39px;
    font-size: 55px;
    font-weight: bold;
    color: #f0f0f0;
}

.header-content p {
    margin-bottom: 10px;
    color: #ddd;
}
