/***********HEADER***********/
header {
    background: url(../images/login-code.png) no-repeat left bottom;
}

.header-login {
    width: 900px;
    height: 500px;
    border-radius: 4px;
    background-color: #22222250;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-inpt_container {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.header-inpt_container {
    margin-bottom: 30px;
}

.inpt {
    outline: none;
    width: 450px;
    height: 25px;
    background: none;
    border: 1px solid #51E8E8;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 15px;
}

.button {
    margin: 0 0 30px;
}

.header-login p, .header-login p a {
    font-size: 12px;
    font-weight: bold;
}

.header-login p:not(:last-child){
    margin-bottom: 5px;
}
