@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/***********RESET and DEFAULT***********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 36px 'Roboto', sans-serif;
    text-decoration: none;
    color: #f5f5f5;
}

header {
    position: relative;
    height: 100vh;
}

.header-content {
    position: absolute;
    text-align: center;
}

.center {
    margin: auto;
}

.button {
    cursor: pointer;
    width: 245px;
    height: 70px;
    margin: 40px auto 0;
    background-color: #074444;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/***********HEADER-NAV***********/
.header-nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    transform: translateY(9px);
    margin-left: 98px;
}

#logo a {
    font-size: 50px;
    font-weight: bold;
    color: #ddd;
}

.header-menu {
    list-style: none;
    margin-right: 98px;
    display: flex;
}

.header-menu li:not(:last-child) {
    margin-right: 39px;
}

.header-menu li a {
    font-size: 24px;
    color: #ddd;
}

#search-icon {
    cursor: pointer;
    transform: translateY(6px);
}

@media (max-width: 1097px) {
    * {
        display: none;
    }
}
